<div class="side-box">
    <ul>
        <li><a href="/dashboard" class="<%if(linkNum==0){%><%- 'active'%><%} %>"><i class="fas fa-toolbox"></i>Dashboard</a></li>
        <li><a href="/upload/album" class="<%if(linkNum==1){%><%- 'active'%><%} %>"><i class="fas fa-compact-disc"></i>Upload Album</a></li>
        <li><a href="/upload/songs" class="<%if(linkNum==2){%><%- 'active'%><%} %>"><i class="fas fa-music"></i>Upload Songs</a></li>
        <li><a href="/upload/artist/data" class="<%if(linkNum==3){%><%- 'active'%><%} %>"><i class="fas fa-user-edit"></i>upload Artist Data</a></li>
        <li><a href="/update/Album/id" class="<%if(linkNum==4){%><%- 'active'%><%} %>"><i class="far fa-edit"></i>Update album data</a></li>
    </ul>
</div>